<section class="sectionCart">
  <div class="leftDot"></div>
  <div class="rightDot"></div>  

  <div class="container orderContainer">

    <h4 class="titleName">
      <span class="Tit_one">Your  </span>
      <span class="Tit_three"> "Order"</span>
    </h4>
    <div class="botBot_title"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="table-responsive cartTable">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Cake</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td> <input type="checkbox" class="check_Order"/> </td>
                <td><img src="assets/images/Products/1.png" class="cartImg" alt="Cake Images"></td>
                <td>Chocolate Cake</td>
                <td>
                  <div class="cake_quantity">
                    <div class="value-button" id="decrease" onclick="decreaseValue()">-</div>
                    <input type="number" id="number" value="0" />
                    <div class="value-button" id="increase" onclick="increaseValue()" value="10">+</div>
                    <span><i class="fa fa-refresh" title="Update Cake Quantity"></i></span>
                  </div>
                </td>
                <td>Rs. 550 /-</td>
                <td>Rs. 1000 /-</td>
                <td><span><i class="fa fa-times" title="Remove Item"></i></span></td>
              </tr>

              <tr>
                <td> <input type="checkbox" class="check_Order"/> </td>
                <td><img src="assets/images/Products/2.png" class="cartImg" alt="Cake Images"></td>
                <td>Chocolate Cake</td>
                <td>
                  <div class="cake_quantity">
                    <div class="value-button" id="decrease" onclick="decreaseValue()">-</div>
                    <input type="number" id="number" value="0" />
                    <div class="value-button" id="increase" onclick="increaseValue()" value="10">+</div>
                    <span><i class="fa fa-refresh" title="Update Cake Quantity"></i></span>
                  </div>
                </td>
                <td>Rs. 550 /-</td>
                <td>Rs. 1000 /-</td>
                <td><span><i class="fa fa-times" title="Remove Item"></i></span></td>
              </tr>

              <tr>                
                <td> <input type="checkbox" class="check_Order"/> </td>
                <td><img src="assets/images/Products/8.png" class="cartImg" alt="Cake Images"></td>
                <td>Chocolate Cake</td>
                <td>
                  <div class="cake_quantity">
                    <div class="value-button" id="decrease" onclick="decreaseValue()">-</div>
                    <input type="number" id="number" value="0" />
                    <div class="value-button" id="increase" onclick="increaseValue()" value="10">+</div>
                    <span><i class="fa fa-refresh" title="Update Cake Quantity"></i></span>
                  </div>
                </td>
                <td>Rs. 550 /-</td>
                <td>Rs. 1000 /-</td>
                <td><span><i class="fa fa-times" title="Remove Item"></i></span></td>
              </tr>

              <tr>
                <td></td>
                <td colspan="4" class="td_continue"> <span class="backLink" routerLink="/home">Continue Shopping</span> </td>
                <td colspan="2" class="td_subtotal">Sub-Total :- <i class="fa fa-inr"></i> 1000 /-.</td>
              </tr>
              <tr>
                <td></td>
                <td colspan="4" class="td_goBabk"> <span class="backLink" routerLink="/gallary">Go Back</span> </td>
                <td colspan="2" class="td_total">
                  <span>Total :- <i class="fa fa-inr"></i> 1000 /-.</span> 
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkoutDiv">
          <button class="checkoutBtn" routerLink="/checkout">Checkout</button>
        </div>

      </div>
    </div>
  </div>
</section>
