<!-- ::::::::::::::::::: Header Start ::::::::::::::::::: -->
<header class="header_area">
    <section class="navigation">
        <div class="nav-container">
            
            <div class="brand">
                <img src="assets/images/11.png" class="logoImg">
            </div>
                  
            <nav>
                <div class="nav-mobile"><a id="nav-toggle"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                    <li>
                        <a>Products</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a routerLink="/cakelist">Cake</a>
                            </li>
                            <li>
                                <a routerLink="/cupcake">Cupcake</a>
                            </li>
                            <li>
                                <a routerLink="/pastry">Pastries</a>
                            </li>
                        </ul>
                    </li>
                    <li><a routerLink="/gallary">Gallary</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/branch">Branches</a></li>
                    <li><a routerLink="/order">Order Now</a></li>
                </ul>
            </nav>

        </div>
    </section>          
</header>

