<!-- <app-header></app-header> -->


<!-- Slider Code -->
<section class="sliderSection">

    <div class="slide-window">
        <div class="slide-wrapper" style="width: 300%;">

            <div class="slide">
                <a href="#" target="_blank">
                    <div class="slide-image" style="background-image: url('assets/images/slider/cake2.jpg')"></div>
                    <div class="slide-caption">
                        <h2>jQueryScript.Net</h2>
                        <p>Always keep the sun in your heart.</p>
                    </div>
                </a>
            </div>

            <div class="slide">
                <a href="#" target="_blank">
                    <div class="slide-image" style="background-image: url('assets/images/slider/cake1.jpg')"></div>
                    <div class="slide-caption">
                        <h2>MASTERY</h2>
                        <p>Mastery takes a little time.</p>
                    </div>
                </a>
            </div>

            <div class="slide">
                <a href="#" target="_blank">
                <div class="slide-image" style="background-image: url('assets/images/slider/cake2.jpg')"></div>
                    <div class="slide-caption">
                        <h2>PURPOSE</h2>
                        <p>People who can find.</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="slide-controller">
            <div class="slide-control-left">
                <div class="slide-control-line"></div>
                <div class="slide-control-line"></div>
            </div>
            <div class="slide-control-right">
                <div class="slide-control-line"></div>
                <div class="slide-control-line"></div>
            </div>
        </div>

    </div>

</section>
<!-- Slider Code End -->


<!-- Products Code Start -->
<section class="productList_Home sec_padding">
    <div class="container">

        <h4 class="titleName">
            <span class="Tit_one">Baker's </span>
            <span class="Tit_two">Treat </span>
            <span class="Tit_three"> Products</span>
        </h4>
        <div class="botBot_title"></div>

        <div class="row prod_row">

            <!-- product 1 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Ice Cake</h3>
                        <img src="assets/images/Products/1.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 1 end -->

            <!-- product 2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Butter Cake</h3>
                        <img src="assets/images/Products/4.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 2 end -->

            <!-- product 3 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Photo Cake</h3>
                        <img src="assets/images/Products/3.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 3 end -->

            <!-- product 4 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Pastries</h3>
                        <img src="assets/images/Products/chocolate.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 4 end -->

            <!-- product 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Cookies</h3>
                        <img src="assets/images/Products/demo.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 5 end -->

            <!-- product 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 productCol">
                <div class="col-xs-12 col-md-12 col-lg-12 prodName">
                    <div class="col-xs-12 prodimg">
                        <span>Rs. 280/-</span>
                    </div>
                    <div class="borLeft"></div>
                    <div class="col-xs-12 prodCenter">
                        <h3>Cupcakes</h3>
                        <img src="assets/images/Products/demo.png">
                        <div class="col-xs-12 prod_Para">
                            <p>It is a Amazing and very delicious bakery products of "Bakers Treat" .</p>
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                    <div class="ProdOverlay">
                        <div class="Prodtext">
                            <span><a href="thin-clients-products.html">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- product 5 end -->

        </div>
    </div>
</section>

<!-- Products Code End -->



<!-- Client reviews Code Start -->
<section class="reviewSection">
    <div class="topWaves"></div>
    <div class="clientoverlay">
        <div class="container">

            <h4 class="titleName clientName">
                <span class="Tit_one">Our </span>
                <span class="Tit_two">Clients </span>
                <span class="Tit_three"> Reviews</span>
            </h4>
            <div class="botBot_title"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
                        
                        <ol class="carousel-indicators">
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <figure class="clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <img class="img-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg"> 
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <figcaption class="caption">
                                                    <p class="text-brand lead">I can't wait to test this out.</p>
                                                    <p class="quotes"><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                                    <blockquote class="no-margin">
                                                        <p class="clienttitle">Someone Famous</p>  
                                                    </blockquote>
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <figure class="clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <img class="img-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg"> 
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <figcaption class="caption">
                                                    <p class="text-brand lead">I can't wait to test this out.</p>
                                                    <p class="quotes"><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                                    <blockquote class="no-margin">
                                                        <p class="clienttitle">Someone Famous</p> 
                                                    </blockquote>
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <figure class="clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <img class="img-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"> 
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <figcaption class="caption">
                                                    <p class="text-brand lead">I can't wait to test this out.</p>
                                                    <p class="quotes"><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                                    <blockquote class="no-margin">
                                                        <p class="clienttitle">Someone Famous</p> 
                                                    </blockquote>
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                        <a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                    
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="bottomWaves"></div>
</section>
<!-- Client reviews Code End -->


<!-- Offers Start -->
<section class="productList_Home sec_padding">
    <div class="container">
        
        <h4 class="titleName">
            <span class="Tit_one">Today's </span>
            <span class="Tit_two">Special </span>
            <span class="Tit_three"> Offers</span>
        </h4>
        <div class="botBot_title"></div>

        <div class="row row_Offers">

            <!-- offer 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-xs-12 offerWrapper box-wrapper">
                    <div class="dotOffers">
                        <div class="dotBackColor">
                            <img src="assets/images/Products/1.png" class="offerCake_Img">
                        </div>
                    </div>
                    <div class="box-content">
                        <a class="buy"><span><i class="fa fa-birthday-cake"></i></span></a>
                        <div class="cake_title"><h3>Chocolate Cake</h3></div>
                        <div class="cake_desc">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                        <span class="cake_price"><i class="fa fa-inr"></i> 280</span>
                        <div class="cake_Stars">
                            <ul>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star-o"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- offer 1 end -->

            <!-- offer 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-xs-12 offerWrapper box-wrapper">
                    <div class="dotOffers">
                        <div class="dotBackColor">
                            <img src="assets/images/Products/2.png" class="offerCake_Img">
                        </div>
                    </div>
                    <div class="box-content">
                        <a class="buy"><span><i class="fa fa-birthday-cake"></i></span></a>
                        <div class="cake_title"><h3>Chocolate Cake</h3></div>
                        <div class="cake_desc">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                        <span class="cake_price"><i class="fa fa-inr"></i> 350</span>
                        <div class="cake_Stars">
                            <ul>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- offer 2 end -->

                <!-- offer 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-xs-12 offerWrapper box-wrapper">
                    <div class="dotOffers">
                        <div class="dotBackColor">
                            <img src="assets/images/Products/8.png" class="offerCake_Img">
                        </div>
                    </div>
                    <div class="box-content">
                        <a class="buy"><span><i class="fa fa-birthday-cake"></i></span></a>
                        <div class="cake_title"><h3>Chocolate Cake</h3></div>
                        <div class="cake_desc">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                        <span class="cake_price"><i class="fa fa-inr"></i> 5.67</span>
                        <div class="cake_Stars">
                            <ul>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star-o"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- offer 3 end -->

        </div>
    </div>
</section>

<!-- Offers End -->
