<!-- Cake Banner Code Start -->
<section class="sectionCakeBanner">
  <img src="assets/images/cookies/cookybanner.png" alt="cake Banner" class="bannerCake">
</section>
<!-- Cake Banner Code End -->

<!-- CupCake Code Start -->
<section class="sectionCupcake">
  <div class="container">

    <h4 class="titleName">
      <span class="Tit_one">best offers </span>
      <span class="Tit_two">on </span>
      <span class="Tit_three"> "cupcake"</span>
    </h4>
    <div class="botBot_title"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cupcake">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/chocoCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/appleCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/stawberryCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/chocoCup1.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/butterscotchCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/stawberryCup1.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/oreaoCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/mangoCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/rainbowCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/vanillaCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/appleCup1.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cupcake_Wrapper">
          <div class="col-xs-12 cupcake_Inner">
            <img src="assets/images/cookies/corner1.png" class="triangleCup">
            <div class="cupcakeImg">
              <img src="assets/images/cookies/stawberryCup.png" class="cupImg">
            </div>
            <p class="cupcakeName">Choco Cupcake</p>
            <p class="cupcakePrice"><i class="fa fa-inr"></i>120 /-.</p>
            <p class="cupcakeDesc">The eve of Christmas is almost incomplete without this decadent cup cake made with full chocolate.</p>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</section>
<!-- CupCake Code End -->

<!-- Cookies Code Start -->
<section class="sectionCupcake sectioncooky">
  <div class="container">
  
    <h4 class="titleName">
      <span class="Tit_one">best offers </span>
      <span class="Tit_two">on </span>
      <span class="Tit_three"> "Cookies"</span>
    </h4>
    <div class="botBot_title"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cupcake">

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies1.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies12.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies2.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies3.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies4.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies6.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies5.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies8.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies9.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies11.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies10.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

        <div class="cookies_Wrapper col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 cookies_Inner">
            <div class="cookiesImg">
              <img src="assets/images/cookies/cookies7.png" alt="">
            </div>
            <div class="cookieText">
              <p>choco-Cookies</p>
              <p class="cookyPrice"><i class="fa fa-inr"></i> 120 /-.</p>
              <p class="cookyDozen">half Dozen</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</section>
<!-- Cookies Code End -->

