<!-- Order Form Code Start -->
<section class="sectionForm">
  <div class="container">

    <div class="row formWrapper">
      <div class="contactDesc">
        <div class="textContact">
          <div class="decor-left"><span></span></div>
          <p>Send us a message and we’ll get back to you as soon as possible. Looking forward to hearing from you!</p>
          <div class="decor-right"><span></span></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 orderForm_Wrapper">
          <form>
            <div class="form-group col-xs-12">
              <input  type="text" class="form-control" placeholder="Enter Full Name" />
            </div>

            <div class="form-group col-xs-12">
              <input  type="text" class="form-control" placeholder="Enter Contact Number" />
            </div>
            <div class="form-group col-xs-12">
              <input  type="text" class="form-control" placeholder="Enter Alternative Number" />
            </div>

            <div class="form-group col-xs-12">
              <input  type="email" class="form-control" placeholder="Enter Email_Id" />
            </div>

            <div class="form-group col-xs-12">
              <input  type="text" class="form-control" placeholder="Enter Full Address" />
            </div>

            <div class="form-group col-xs-12">
                <input  type="text" class="form-control" placeholder="Enter cake Type" />
              </div>

            <div class="form-group col-xs-12">
              <label>I want cake like This..</label>
              <input  type="file" class="form-control" placeholder="Enter Your Name" />
            </div>

            <div class="form-group col-xs-12">
              <textarea class="form-control textareaWidth" rows="2" placeholder="Special Intructions...."></textarea>
            </div>

            <div class="form-group col-xs-12 orderBtn">
              <button class="orderbtn">Order Now</button>
            </div>
          </form>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 orderForm_details">
            <div class="orderDetails">
              <p class="SPANnAME">Full Name :: </p> 
              <p class="spanAns">Supriya Nilesh Chavan</p>
            </div>
            <div class="orderDetails">
              <p class="SPANnAME">Contact Number :: </p>
              <p class="spanAns">214 3658 987</p>
              </div>
            <div class="orderDetails">
              <p class="SPANnAME">Alternative Number :: </p>
              <p class="spanAns">214 3658 987</p>
            </div>
            <div class="orderDetails">
              <p class="SPANnAME">Email ID :: </p>
              <p class="spanAns">Supriya@gmail.com</p>
            </div>
            <div class="orderDetails">
              <p class="SPANnAME">Address :: </p>
              <p class="spanAns">Sr.No. 64, Durwankur Niwas, Warje, Pune</p>
            </div>
            <div class="orderDetails">
              <p class="SPANnAME">Cake :: </p>
              <p class="spanAns">Chocolate Cake</p>
            </div>
            <p class="intro">I want red color cake. black forest cakes are here to adorn your moments with their delicious taste and gorgeous look.</p>

            <img src="assets/images/cake/rose.jpg" class="orderCake">
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Order Form Code End -->
