.section_About{

}
.about_Banner{
      background: url('../../assets/images/aboutus.jpg');
      background-size: cover;
      height: 300px;
      width: 100%;
}
.about_Banner_back{
      background: #21202082;
      height: 100%;
      width: 100%;
}
.about_Dotted{
      background: url('../../assets/images/dot.png');
      height: 300px;
      width: 100%;
      position: relative;
} 
.about_B_title{
      font-family: 'Noto Sans TC', sans-serif;
      color: white;
      position: absolute;
      left: 42%;
      top: 25%;
      font-size: 42px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
}

/*  About Content  */
.about_Content{
      padding-bottom: 3em;
}
.AC_Wrapper{
      background: white;
      margin-top: -6em;
      padding: 2em 1em;
}
.AC_Logo{
      margin-bottom: 25px;
      text-align: center;
}
.AC_Logo img{
    width: 110px;
    height: 100px;
}
.about_desc{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      color: #000000c9;
      text-indent: 3em;
      text-align: justify;
      padding: 0 3em 10px;
      line-height: 1.5;
}

/* About Team */
.setion_Team{
      background: url('../../assets/images/teamBanner.jpg');
      background-attachment: fixed;
      background-size: cover;
      position: relative;
}
.teamBanner_wrapper{
      background: #19171796;
      padding: 5em 0;
}
.team_heading-title {
    margin-bottom: 45px;
}
.text-center {
    text-align: center;
}
.team_heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.team_slogan {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: white;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .team_s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 45%;
    width: 100%;
    opacity: 1;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.team-member:hover .team-hover .team_s-link {
    bottom: 25%;
}
.eachTeam:hover .team-hover, .eachTeam:hover .team-hover .desk, .eachTeam:hover .team-hover .team_s-link {
    opacity: 0;
}
.eachTeam:hover .team_s-link{
    bottom: 40px;
    transition: all 0.6s  0.2s linear;
}
.team-hover .team_s-link {
    position: absolute;
    bottom: 40px;
    width: 100%;
    opacity: 1;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .team_s-link a {
    text-align: center;
    color: #222;
}
.team-member .team_s-link a {
    margin: 0 10px;
    color: #c17a11;
    font-size: 21px;
    cursor: pointer;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    background: white;
    border-top: 3px solid #6d6a6561;
}
.team-title h5 {
    margin-bottom: 3px;
    display: block;
    text-transform: capitalize;
    font-family: 'Pontano Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color: #d48715;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #b7b2b2;
    letter-spacing: 0.6px;
}
.eachTeam{
    border: 5px solid #c17a11;
    padding: 0;
    transition: all 0.7s linear;
    margin: 2em 0;
}
.eachTeam:hover{
    transition: all 0.7s linear;
    background: #c17a11;
    transform: scale(1.03);
    border: 5px solid white;
}
.eachTeam:hover .team-title{
    transition: all 0.7s linear;
    background: #c17a11;
}
.eachTeam:hover .team-title h5{
    transition: all 0.7s linear;
    color: white;
}

/* About Features */
.sectionA_Features{
    padding: 5em 0;
}
.featRow{
    margin-top: 6em;
}
.feature_Wrapper{
    background: #efefef87;
    border: 1px solid #bdbcbc1f;
    margin: 2em 0;
    text-align: center;
    padding: 15px;
    transition: all 0.5s 0.2s linear;
    position: relative;
    box-shadow: 0 14px 13px #80808052;
}
.feature_Wrapper:hover{
    transition: all 0.5s 0.2s linear;
    box-shadow: 0 3px 7px #80808052;
}
.feature_Wrapper:hover .feature_Img img{
    transform: translateY(0px);
    transition: all 0.5s 0.2s linear;
    box-shadow: 0 0 lightgray;
    border-radius: none;
}
.featTitle, .pSpan, .feature_Img img{
    transition: all 0.5s 0.2s linear;
}
.feature_Wrapper:hover .featTitle{
    transform: translateY(0px);
    transition: all 0.5s 0.2s linear;
}
.feature_Wrapper:hover .pSpan{
    transform: translateY(0px);
    transition: all 0.5s 0.2s linear;
}
.feature_Wrapper p{
    font-family: 'Lobster', cursive;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #c1780c;
    line-height: 1.4;
}
.feature_Wrapper p span{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    color: #635f5f;
    letter-spacing: 0;
}
.pSpan{
    margin-top: -9px;
    transform: translateY(-30px);
}
.featTitle{
    transform: translateY(-50px);
}
.feature_Img{
    margin-bottom: 15px;
}
.feature_Img img{
    width: 70%;
    height: 135px;
    margin: auto;
    box-shadow: 0 -8px 0px #ab6e15;
    border-radius: 50%;
    transform: translateY(-70px);
}