<!-- About Banner Code Start -->
<section class="section_About">
  <div class="about_Banner">
    <div class="about_Banner_back">
      <div class="about_Dotted">
        <p class="about_B_title">About Us</p>
      </div>
    </div>
  </div>
</section>
<!-- About Banner Code End -->


<!-- About Content Code Start -->
<section class="about_Content">
  <div class="container">
    <div class="row aboutRow">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 AC_Wrapper">
        <div class=" col-xs-12 AC_Logo">
          <img src="assets/images/aboutlogo1.png">
        </div>
        <div class="col-xs12 conAbout">
          <p class="about_desc">
            "Baker's Treat" have been bringing people together and making them smile for over 3 years now! We are a renowned chain of pastry & confectionery shops based out of Pune, who provide specially baked, pure vegetarian cakes, pastries and desserts that are available for shopping and delivery throughout the city. We have now expanded to about 50+ stores, via which, we cater to any area you’re in!.
          </p>
          <p class="about_desc">
            Our delicious gourmet desserts and snacks cater to any kind of event! Be it a birthday or a conference, anniversary or baby shower , our master chefs with their expert baking skills use only the choicest ingredients to make these gorgeous cakes to order. All our products are strictly pure vegetarian, and you can be assured that our fantastic unique designs set us apart from any other baker in the city.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Content Code End -->


<!-- About Team Code Start -->
<section class="setion_Team">
  <div class="teamBanner_wrapper">
    <div class="topWaves"></div>
    <div class="container">
      <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="team_heading-title text-center">
            <h4 class="titleName clientName">
              <span class="Tit_one">Meet The  </span>
              <span class="Tit_two">Team That </span>
              <span class="Tit_three"> "Make Happiness"</span>
            </h4>
            <div class="botBot_title"></div>

            <p class="team_slogan">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p>
          </div>

          <div class="col-xs-12 teamWrapper">

            <!-- Team 1 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi Everyone !</h4>
                      <p>I love to introduce myself as a Owner of "Baker's Treat".</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Kiran Chavan</h5>
                  <span>founder</span>
                </div>
              </div>
            </div><!-- Team 1 End -->

            <!-- Team 2 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi There !</h4>
                      <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Avinash Mohite</h5>
                  <span>Cake Artist</span>
                </div>
              </div>
            </div><!-- Team 2 End -->

            <!-- Team 3 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi There !</h4>
                      <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Nana Nalawade</h5>
                  <span>Cake Artist</span>
                </div>
              </div>
            </div><!-- Team 3 End -->

            <!-- Team 4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi There !</h4>
                      <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Ajit Chavan</h5>
                  <span>Supporter</span>
                </div>
              </div>
            </div><!-- Team 4 End -->

            <!-- Team 5 -->
          <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi There !</h4>
                      <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Sujit Chavan</h5>
                  <span>Supporter</span>
                </div>
              </div>
            </div><!-- Team 5 End -->

            <!-- Team 6 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
              <div class="col-xs-12 eachTeam">

                <div class="team-member">
                  <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                  </div>

                  <div class="team-hover">
                    <div class="desk">
                      <h4>Hi There !</h4>
                      <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="team_s-link">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>

                <div class="team-title">
                  <h5>Nilesh Chavan</h5>
                  <span>Supporter</span>
                </div>
              </div>
            </div><!-- Team 6 End -->

          </div><!-- Team Wrapper end -->

        </div>
      </div>
    </div>
    <div class="bottomWaves"></div>
  </div>
</section>
<!-- About Team Code End -->


<!-- About Features Code Start -->
<section class="sectionA_Features">
  <div class="container">

      <h4 class="titleName">
        <span class="Tit_one">Why  </span>
        <span class="Tit_two">Choose </span>
        <span class="Tit_three"> "Baker's Treat"</span>
      </h4>
      <div class="botBot_title"></div>

    <div class="row featRow">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- feature 1 -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 feature_Wrapper">
            <div class=" col-xs-12 feature_Img">
              <img src="assets/images/features/delivery.png">
            </div>
            <p class="featTitle">Free Delivery</p>
            <p class="pSpan"><span>You Can Always Trust</span></p>
          </div>
        </div><!-- feature 1 end -->

        <!-- feature 2 -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 feature_Wrapper">
            <div class=" col-xs-12 feature_Img">
              <img src="assets/images/features/quality.png">
            </div>
            <p class="featTitle">Best Quality</p>
            <p class="pSpan"><span>You Can Always Trust</span></p>
          </div>
        </div><!-- feature 2 end -->

        <!-- feature 3 -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 feature_Wrapper">
            <div class=" col-xs-12 feature_Img">
              <img src="assets/images/features/offer1.png">
            </div>
            <p class="featTitle">Best Prices & Offers</p>
            <p class="pSpan"><span>You Can Always Trust</span></p>
          </div>
        </div><!-- feature 3 end -->

        <!-- feature 4 -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-12 feature_Wrapper">
            <div class=" col-xs-12 feature_Img">
              <img src="assets/images/features/time.png">
            </div>
            <p class="featTitle">On Time Guarantee</p>
            <p class="pSpan"><span>You Can Always Trust</span></p>
          </div>
        </div><!-- feature 4 end -->

      </div>
    </div>
  </div>
</section>
<!-- About Features Code End -->
