@media(max-width:767.98px){

    /* Slider CSS */
    .slide-window .slide-wrapper{
        height:100%!important;
    }
    .slide-window{
        height: 300px;
    }
    .prodName {
        margin-bottom: 3em;
    }

    /* Client reviews  */
    #tcb-testimonial-carousel .media-object {
        margin-bottom: 15px;
    }
    .quotes {
        font-size: 15px!important;
    }
    #tcb-testimonial-carousel .media-object {
        width: 115px!important;
    }

    .titleName {
        font-size: 25px!important;
    }
    .botBot_title {
        width: 50%!important;
    }

    /* Footer */
    .orderPhone{
        padding-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .footerLogo{
        text-align: center;
    }
    .footerLogo img{
        text-align: center;
        width: 300px;
        height: 100px;
        margin: auto;
    }
    .footerTime, .footerAddress{
        border-bottom: 1px solid #d2d2d2;
        padding-left: 4em;
        margin-bottom: 10px;
    }
    .footerSocial{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .copyright-box{
        padding-bottom: 0!important;
        line-height: 20px!important;
        font-size: 14px!important;
    }
    .sec_footer{
        padding: 0;
    }
    .numFooter{
        margin-bottom: 5px!important;
    }
    .add-location, .time-table{
        color: white!important;
        line-height: 1.4!important;
    }

    /* About Us */
    .about_B_title{
        left: 25%!important;
        top: 16%!important;
        font-size: 34px!important;
    }
    .about_Banner, .about_Dotted{
        height: 230px!important;
    }
    .about_desc{
        padding: 0 1em 10px!important;
    }
    .team_slogan{
        width: 100%!important;
        font-size: 15px!important;
    }
    .aboutRow{
        margin: 0;
    }
    /* About us Features */
    .feature_Wrapper{
        margin: 2em 0 5em 0!important;
    }
    .sectionA_Features {
        padding: 5em 0 0em 0!important;
    }
    .feature_Img img{
        width: 134px!important;
        height: 134px!important;
    }

    /* Contact Us */
    .contactWrapper.contactMid{
        margin-bottom: 50px!important;
    }
    .contact_Doted p {
        left: 23%!important;
        top: 25%!important;
        font-size: 30px!important;
    }
    .sectionContact{
        height: 100px!important;
    }
    .formWrapper {
        padding: 0 20px;
    }

    /* Checkout */
    .leftDot, .rightDot{
        width: 20px!important;
    }
    .checkoutContainer{
        padding: 3em 15px!important;
    }
    .checkoutContainer .row{
        margin: 0px!important;
    }
    .selectArea{
        padding: 15px 0 0 0;
    }
    .formGroup{
        padding: 0;
    }
    .reviewTotal p:first-child {
        margin: 20px auto 1em auto!important;
    }
    .reviewTotal {
        text-align: left!important;
    }

    /* Cake */
    .sectionCakeBanner {
        width: 100%;
        height: 175px!important;
    }
    .popularCake_wrapper{
        padding: 0px;
    }
    /* Navbar */
    .nav ul li{
        margin:0px;
    }
    .nav-dropdown {
        position: static;
        height: 150px;
    }
    .nav-list{
        margin-top: 16px;
    }
    .logoImg {
        height: 65px!important;
    }
    .nav-mobile {
        top: 15px;
        right: 15px;
        height: 55px;
        width: 55px;
    }
    #nav-toggle {
        left: 10px;
        top: 15px;
    }
    /* Order */
    .orderBtn{
        text-align: center!important;
        margin-bottom: 5em!important;
        margin-top: 3em!important;
    }

}


@media(max-width:1199.98px) and (min-width:768px){

    /* Navbar */
    .nav ul li{
        margin:0px;
    }
    .nav-dropdown {
        height: 150px;
    }
    .nav-list{
        margin-top: 16px;
    }
    .navigation {
        height: 95px!important;
    }
    .brand {
        margin: 10px 0;
    }
    .nav-mobile {
        height: 55px;
        width: 55px;
        top: 15px;
        right: 15px;
    }
    #nav-toggle {
        left: 10px;
        top: 15px;
    }

    /* Pastry */
    .pastry_Inner{
        height: 392px;
    }
    .prodName{
        height: 465px;
    }
    /* Slider CSS */
    .slide-window .slide-wrapper{
        height:100%!important;
    }
    .slide-window{
        height: 500px;
    }
    .prodName {
        margin-bottom: 3em;
    }
    /* Footer */
    .numFooter{
        font-size: 21px!important;
        margin-bottom: 15px!important;
    }
    .orderPhone{
        font-size: 21px!important;
    }
    .first_footer{
        padding-bottom: 1em;
    }
    .footerSocial{
        padding: 30px 0 10px 0;
        border-top: 1px solid white;
    }
    .sec_footer{
        padding: 0px;
    }
    .time-table, .add-location{
        font-size: 18px!important;
        color: white!important;
    }
    .copyright-box{
        text-align: center;
        padding-bottom: 5px!important;
        line-height: 1.4!important;
        font-size: 20px!important;
        color: #e8e6e6;
        margin-top: 10px;
        letter-spacing: 0.6px;
    }
    /* About US */
    .aboutRow{
        margin: 0;
    }
    /* About us Features */
    .feature_Wrapper{
        margin: 2em 0 5em 0!important;
    }
    .sectionA_Features {
        padding: 5em 0 0em 0!important;
    }
    .feature_Img img{
        width: 134px!important;
        height: 134px!important;
    }

    /* Contact Us */
    
    .contactWrapper.contactMid{
        margin-bottom: 50px!important;
    }
    .con1{
        border-right: 5px solid lightgray!important;
    }
    .con2{
        border-left: 5px solid lightgray!important;
    }
    .formWrapper{
        padding: 0 40px!important;
    }

    /* Checkout */
    .leftDot, .rightDot{
        width: 20px!important;
    }
    .checkoutContainer{
        padding: 3em 15px!important;
    }
    .checkoutContainer .row{
        margin: 0px!important;
    }
    .selectArea{
        padding: 15px 0 0 0;
    }
    .formGroup{
        padding: 0;
    }
    .reviewTotal p:first-child {
        margin: 20px auto 1em auto!important;
    }
    .reviewTotal {
        text-align: left!important;
    }

    /* Cake */
    .sectionCakeBanner {
        width: 100%;
        height: 300px!important;
    }

    /* Order */
    .orderBtn{
        text-align: center!important;
        margin-bottom: 5em!important;
        margin-top: 3em!important;
    }

}


@media(min-width:1200px){
    /* Pastry */
    .pastry_Inner{
        height: 392px;
    }
    .prodName{
        height: 465px;
    }
    .orderTitle, .orderPhone {
        margin-top: 2em;
        margin-bottom: 3em;
    }
}