<!-- Cake Banner Code Start -->
<section class="sectionCakeBanner">
  <img src="assets/images/cake/cakebanner.png" alt="cake Banner" class="bannerCake">
</section>
<!-- Cake Banner Code End -->

<!-- Pastries Code Start -->
<section class="sectionPastries">
  <div class="container">

    <h4 class="titleName">
      <span class="Tit_one">Our  </span>
      <span class="Tit_two">awesome </span>
      <span class="Tit_three"> "pastries"</span>
    </h4>
    <div class="botBot_title"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pastryCol">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/chocolate.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">Chocolate Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/pine.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">Pine-apple Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/kiwi.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">kiwi Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/mango.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">mango Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/kiwi.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">kiwi Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/chocolate.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">copico Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/mango.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">mango Pastry</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pastry_Wrapper">
          <div class="col-xs-12 pastry_Inner">
            <div class="imgPastry">
              <img src="assets/images/pastry/chocolate.png" alt="pastry" class="pastry">
            </div>
            <p class="pastryPrice"><i class="fa fa-inr"></i> 450 /-.</p>
            <p class="pastryname">chocolate Pastry</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Pastries Code End -->

