<!-- Cake Banner Code Start -->
<section class="sectionCakeBanner">
  <img src="assets/images/cake/cakebanner.png" alt="cake Banner" class="bannerCake">
</section>
<!-- Cake Banner Code End -->


<!-- Cake Flavour Code Start -->
<section class="sectionCake">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p class="flavourTitle"><span>Cakes By Flavour</span></p>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Vanilla</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Chocolate</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Pine-Apple</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Stawberry</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Kiwi</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>buttersctoch</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Blackforest</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>whiteforest</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Red velvet</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>lemon</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>Raspberry</p> 
          </div>       
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 flavourWrapper"> 
          <div class="col-xs-12 cakeFlavor">
            <p>mix fruits</p> 
          </div>       
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Cake Flavour Code End -->

<!-- Cake card Code Start -->
<section class="sectionCake_card">
  <div class="container">
    <div class="row">

      <h4 class="titleName">
        <span class="Tit_one">Baker's  </span>
        <span class="Tit_two">Treat </span>
        <span class="Tit_three"> "Cakes"</span>
      </h4>
      <div class="botBot_title"></div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/butter.jpg" alt="cakes">
                  <p class="cakeName">Butterscotch Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/fruits.jpg" alt="cakes">
                  <p class="cakeName">Fresh Fruits Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/chocolate.jpg" alt="cakes">
                  <p class="cakeName">Chocolate Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/mango.jpg" alt="cakes">
                  <p class="cakeName">Mango Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/choco-vanilla.jpg" alt="cakes">
                  <p class="cakeName">Choco-vanilla Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cardWrapper">
          <a href="#cakeModal" data-toggle="modal">
            <div class="col-xs-12 card">
                <div class="card--content">
                  <img src="assets/images/cake/butter.jpg" alt="cakes">
                  <p class="cakeName">Chocolate Cake</p>
                  <p class="caketype">Variegate : Pure Veg</p>
                  <p class="cakeDesc">Sweetness in our cake and celebrate every moment with your special days.</p>
                  <span class="spanCake_price"><i class="fa fa-inr"></i> 450 /-</span>
                </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Cake card Code End -->

<!-- Modal Code Start -->
<div id="cakeModal" class="modal" data-easein="perspectiveLeftIn"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
          
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
        <!-- <h4 class="modal-title"> Chocolate Cake </h4> -->
      </div>
          
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-12 modal_cakeImg">
              <img src="assets/images/Products/1.png">
              <ul class="mod_UL">
                <p>Terms & Conditions :</p>
                <li>Delivery time min 24hrs.</li>
                <li>Delivery not available after 10 PM.</li>
                <li>Orders to be placed before 9 PM.</li>
                <li>Orders placed after 9PM will be canceled or will be delivered next day.</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="mod_cakeName">Chocolate Cake</p>
            <p class="mod_cakePrice">1/2 Kg :: Rs. 280 /-</p>

            <form class="mod_form">
              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Weight"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Quantity"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Flavour"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="date" class="form-control mod_Input" placeholder="Delivery Schedule"/>
              </div>

              <div class="form-group col-xs-12">
                <textarea class="mod_Text" rows="2" placeholder="Message On The Cake"></textarea>
              </div>

              <div class="form-group col-xs-12">
                <label class="giftLabel"><input type="checkbox">Gift Wrap (cost free)</label> 
              </div>

              <div class="form-group col-xs-12 btnMod_center">
                <button class="btn_Mod">Add To Cart</button>
                <button class="btn_Mod" routerLink="/cart">Buy Now</button>
              </div>

            </form>

          </div>
        </div>
      </div>
          
    </div>
  </div>
</div>
<!-- Modal Code End -->


<!-- Popular cake Code start -->
<section class="section_Popular">
  <div class="container">

    <h4 class="titleName">
      <span class="Tit_one">Our </span>
      <span class="Tit_two">Popular </span>
      <span class="Tit_three"> Cake's</span>
    </h4>
    <div class="botBot_title"></div>

    <div class="row popularRow">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/black-forest.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Black Forest</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/fruit.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Mix-fruit cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/chocolate.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Chocolate Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/vanilla.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Vanilla Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/chocolate-light.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Chocolate Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/cherry.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">cherry Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/choco-vanilla.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">choco-vanilla Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/fruits.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">mix-fruits Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/chocoVanilla.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">choco-vanilla Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/orange.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Orange Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/kiwi.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Kiwi Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/mango.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">Mango Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/strawberry.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">stawberry Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/rose.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">stawberry Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 popularCake_wrapper">
          <div class="popularCake_inner col-xs-12">
            <div class="popularImg">
              <img src="assets/images/cake/blueberry.jpg" alt="Popular Cakes" class="popImg">
            </div>
            <p class="PopularCake_Title">stawberry Cake</p>
            <p class="PopularCake_desc">A rich, creamy overload of Chocolate with loads of Choco chips to satisfy every chocoholic's desire!</p>
            <span class="popularCake_Price"><i class="fa fa-inr"></i>450 /-.</span>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</section>
<!-- Popular cake Code End -->
