.sectionCake{
      padding: 3em 0;
      background: #d3d3d354;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #9a650c;
}
.flavourWrapper{
      margin: 0 0 1em 0;
}
.cakeFlavor{
      background: white;
      padding: 15px;
      text-align: center;
      border: 3px solid #d3d3d378;
      transition: all 0.5s linear;
}
.cakeFlavor:hover{
      transition: all 0.5s linear;
      border: 3px solid #9a650c;
      transform: scale3d(0.9, 0.9, 0.9);
}
.cakeFlavor p{
      text-align: center;
      margin: 0px;
}
.flavourTitle{
      text-align: center;
      margin-bottom: 2em;
      font-size: 18px!important;
      font-family: 'Pontano Sans', sans-serif;
      font-weight: 700;
      letter-spacing: 0.6px;
      color: black;
}
.flavourTitle span{
      border-bottom: 2px solid #9a650c;
      padding-bottom: 3px;
}

/*  Cake Card CSS */
.sectionCake_card{
      padding: 3em 0;
      background: white;
}
.card {
      position: relative;
      transition: all ease .5s;
      background: white;
      border: 4px solid lightgray;
      padding: 10px 10px;
}
.card--content {
      text-align: center
}
.card--content img{
      width: 100%;
      margin: auto;
      height: 250px;
      border: 5px solid #d3d3d382;
}
.caketype{
      text-align: left;
      color: gray;
      font-size: 15px;
      text-transform: capitalize;
      margin-bottom: 20px;
      font-family: 'Source Sans Pro', sans-serif;
}
.cakeDesc{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      color: #736c62;
      padding: 0 10px;
}
.cakeName{
      font-family: 'Pontano Sans', sans-serif;
      font-size: 19px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;
      text-transform: capitalize;
      font-weight: 700;
      color: #9a650c;
      letter-spacing: 0.5px;
}
.cardWrapper{
      margin:  2em 0;
}
.cardWrapper a{
      margin: 0px;
}
.spanCake_price{
      background: #9a650c;
      color: white;
      padding: 5px 10px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 90px;
      right: 10px;
}

::-moz-placeholder{
      font-size: 16px;
      font-family: 'Pontano Sans', sans-serif;
      color: white;
      letter-spacing: 0.6px;
}
::-webkit-input-placeholder{
      font-size: 16px;
      font-family: 'Pontano Sans', sans-serif;
      color: white;
      letter-spacing: 0.6px;
}
::-ms-placeholder{
      font-size: 16px;
      font-family: 'Pontano Sans', sans-serif;
      color: white;
      letter-spacing: 0.6px;
}

/* Popular Cakes */
.section_Popular{
      background: #d3d3d31f;
      border-top: 1px solid #d3d3d336;
      padding: 3em 0;
      border-bottom: 1px solid #d3d3d336;
}
.popularRow{
      margin: 2em 0 0 0
}
.popularCake_inner{
      background: white;
      border: 1px solid lightgray;
      padding: 0;
      box-shadow: 0 1px 11px 2px #80808063;
      transition: all 0.3s linear;
      margin: 2em 0;
}
.popularCake_inner:hover{
      transition: all 0.3s linear;
      box-shadow: 0 2px 11px 4px #808080d4;
}
.popularCake_inner:hover .popImg{
      transform: scale(1.05);
      transition: all 0.3s linear;
      width: 100%;
      height: 100%;
}
.popularImg{
      width: 100%;
      height: 235px;
      margin-bottom: 1em;
      overflow: hidden;
      border: 5px solid #d3d3d369;
}
.popImg{
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all 0.3s linear;
}
.PopularCake_Title{
      padding: 0 20px;
      margin: 30px 0px 10px 0;
      font-size: 17px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: #9a650c;
}
.PopularCake_desc{
      padding: 0 20px;
      margin: 25px 0px 30px 0;
      font-size: 15px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 0;
      color: #3c3838;
      text-indent: 2em;
      text-align: justify;
      line-height: 1.2;
}
.popularCake_Price{
      position: absolute;
      bottom: 27%;
      background: #9a650c;
      right: 5%;
      color: white;
      padding: 4px 10px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
}