<!-- Gallary Code Start -->
<section class="select-bar">
    <h4 class="titleName">
      <span class="Tit_one">Baker's Treat </span>
      <span class="Tit_two">Sweet </span>
      <span class="Tit_three"> "Products"</span>
    </h4>
    <div class="botBot_title"></div>
  
  <ul class="nav gallaryList">
    <li><a class="selected" rel="1">Cakes</a></li>
    <li><a rel="2">Pastries</a></li>
    <li><a rel="3">Cookies</a></li>
  </ul>

  <div class="container">
    <div class="items">

      <div class="item item-1 selecteditem">
        <div class="row">
          <div class="col-md-12 pro-info">
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/Products/1.png" alt="">
                <div class="overlay">
                  <h2>Chocolate Cake</h2>
                  <a class="info" href="#cakeModal" data-toggle="modal">More Details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/Products/2.png" alt="">
                <div class="overlay">
                  <h2>Kivi Cake</h2>
                  <a class="info">More Details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/Products/8.png" alt="">
                <div class="overlay">
                  <h2>Pine-apple Cake</h2>
                  <a class="info">More Details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/Products/1.png" alt="">
                <div class="overlay">
                  <h2>Chocolate Cake</h2>
                  <a class="info">More Details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
                <div class="hovereffect">
                  <img class="img-responsive" src="assets/images/Products/1.png" alt="">
                  <div class="overlay">
                    <h2>Kivi Cake</h2>
                    <a class="info">More Details</a>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
                <div class="hovereffect">
                  <img class="img-responsive" src="assets/images/Products/2.png" alt="">
                  <div class="overlay">
                    <h2>Pine-Apple Cake</h2>
                    <a class="info">More Details</a>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
                <div class="hovereffect">
                  <img class="img-responsive" src="assets/images/Products/8.png" alt="">
                  <div class="overlay">
                    <h2>Chocolate Cake</h2>
                    <a class="info">More Details</a>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 colGal">
                <div class="hovereffect">
                  <img class="img-responsive" src="assets/images/Products/1.png" alt="">
                  <div class="overlay">
                    <h2>Hover effect 1v2</h2>
                    <a class="info">More Details</a>
                  </div>
                </div>
              </div>  

          </div>
        </div>
      </div>

      <div class="item item-2">
        <div class="row">
          <div class="col-md-12 pro-info">
            <p>Heavy, rugged.</p>
          </div>
        </div>
      </div>

      <div class="item item-3">
        <div class="row">
          <div class="col-md-8 pro-info">
            <p>Best solutio.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Gallary Code End -->


<!-- Modal Code Start -->
<div id="cakeModal" class="modal" data-easein="perspectiveLeftIn"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
          
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
        <!-- <h4 class="modal-title"> Chocolate Cake </h4> -->
      </div>
          
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-12 modal_cakeImg">
              <img src="assets/images/Products/1.png">
              <ul class="mod_UL">
                <p>Terms & Conditions :</p>
                <li>Delivery time min 24hrs.</li>
                <li>Delivery not available after 10 PM.</li>
                <li>Orders to be placed before 9 PM.</li>
                <li>Orders placed after 9PM will be canceled or will be delivered next day.</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="mod_cakeName">Chocolate Cake</p>
            <p class="mod_cakePrice">1/2 Kg :: Rs. 280 /-</p>

            <form class="mod_form">
              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Weight"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Quantity"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="text" class="form-control mod_Input" placeholder="Select Flavour"/>
              </div>

              <div class="form-group col-xs-12">
                <input type="date" class="form-control mod_Input" placeholder="Delivery Schedule"/>
              </div>

              <div class="form-group col-xs-12">
                <textarea class="mod_Text" rows="2" placeholder="Message On The Cake"></textarea>
              </div>

              <div class="form-group col-xs-12">
                <label class="giftLabel"><input type="checkbox">Gift Wrap (cost free)</label> 
              </div>

              <div class="form-group col-xs-12 btnMod_center">
                <button class="btn_Mod">Add To Cart</button>
                <button class="btn_Mod" routerLink="/cart">Buy Now</button>
              </div>

            </form>

          </div>
        </div>
      </div>
          
    </div>
  </div>
</div>
<!-- Modal Code End -->