.sectionContact{
      /* background: url('../../assets/images/contactus/contact1.jpg'); */
      background: url('../../assets/images/contactus/contact.jpg');
      background-size: cover;
      width: 100%;
      height: 225px;
      background-repeat: no-repeat;
      background-position: bottom;
}
.contactBanner{
      height: 100%;
      width: 100%;
      background: #272525bf;
}
.contact_Doted{
      background: url('../../assets/images/dot.png');
      height: 100%;
      width: 100%;
      position: relative;
}
.contact_Doted p{
      font-family: 'Noto Sans TC', sans-serif;
      color: white;
      position: absolute;
      left: 42%;
      top: 35%;
      font-size: 42px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
}

/* Contact Form & Address */


.sectionForm{
      position: relative;
      display: block;
      background: #ffffff;
      padding: 5em 0;
}
.sectionForm .sec-title-style1.max-width {
      padding-bottom: 72px;
}

.contact-address-box{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;    
}
.con1{
      /* box-shadow: -2px 1px 7px 0px lightgrey; */
      border: 5px solid #d3d3d382!important;
      border-right: 0px solid transparent;
      background: url('../../assets/images/contactus/banner-map.jpg');
      background-attachment: fixed;
      padding:0px;
}
.con2{
      /* box-shadow: 2px 1px 7px 0px lightgrey; */
      border: 5px solid #d3d3d382!important;
      border-left: 0px solid transparent;
      background: url('../../assets/images/contactus/banner-map.jpg');
      background-attachment: fixed;
      padding:0px;

}
.contBanner_dot{
      background: url('../../assets/images/dot.png');
      padding: 2em 8px;
      height: 100%;
}
.conBackColor{
      height: 100%;
      width: 100%;
      background: #040404bf;
}
.contactWrapper {
      position: relative;
      display: block;
      border: 1px solid #f1eeeeb8;
      height: 300px;
}

.contactWrapper.contactMid {
      background: white;
      margin-top: -65px;
      margin-bottom: -20px;
      min-height: 430px;
      box-shadow: 0 0 5px lightgrey;
      padding: 2em 1em 3em 1em;
}
.inputWrapper{
      margin-bottom: 30px;
}
.inputWrapper input{
      border-radius: 0;
      height: 45px;
      font-size: 17px;
      font-family: 'Pontano Sans', sans-serif;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      border: 1px solid #0000004f;
}
.inputWrapper textarea{
      min-width: 100%; 
      max-width: 100%;
      border-radius: 0;
      font-size: 17px;
      font-family: 'Pontano Sans', sans-serif;
      border: 1px solid #0000004f;
      height: 80px!important;
}
.bunContact{
      text-align: center;
}
.bunContact button{
      font-size: 17px;
      font-family: 'Pontano Sans', sans-serif;
      background: white;
      border: 1px solid #9a650c;
      box-shadow: none;
      min-width: 170px;
      padding: 4px 5px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #9a650c;
      text-shadow: 0 0 #9a650c;
}
.text-center{
      text-align: center;
}
.mainContactForm{

}
.contactDesc{

}

  .add-location {
      padding: 20px 0 45px 30px;
      font-size: 17px;
      position: relative;
      line-height: 1.4;
      color: #f99d15;
      text-align: left;
      font-family: 'Source Sans Pro', sans-serif;
      /* font-family: 'Pontano Sans', sans-serif; */
}
.add-location:before {
      content: "\f041";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #cec7c7;        
      font-size: 30px;
      padding-right: 0;
      position: absolute;
      top: 20px;
      left: 4px;
}
.time-table {
      font-family: 'Source Sans Pro', sans-serif;
      position: relative;
      padding: 0 0 28px 35px;
      font-size: 17px;
      line-height: 27px;
      color: #f99d15;
      text-align: left;
}
.time-table:before {
      content: "\f017";
      font-family: FontAwesome;
      position: absolute;
      display: inline-block;
      top: 7px;
      left: 0;
      color: red;
      font-size: 21px;
      line-height: 27px;
      color: #cec7c7;
}
.add-email{
      font-family: 'Source Sans Pro', sans-serif;
      position: relative;
      padding: 15px 0 28px 35px;
      font-size: 17px;
      line-height: 27px;
      color: #f99d15;
      text-align: left;
}
.add-email:before{
      content: "\f003";
      font-family: FontAwesome;
      position: absolute;
      display: inline-block;
      top: 20px;
      left: 0;
      color: red;
      font-size: 21px;
      line-height: 27px;
      color: #cec7c7;
}
.add-phone{
      font-family: 'Source Sans Pro', sans-serif;
      position: relative;
      padding: 0 0 28px 35px;
      font-size: 17px;
      line-height: 27px;
      color: #f99d15;
      text-align: left;
}
.add-phone:before{
      content: "\f095";
      font-family: FontAwesome;
      position: absolute;
      display: inline-block;
      top: 7px;
      left: 0;
      color: red;
      font-size: 21px;
      line-height: 27px;
      color: #cec7c7;
}
.social-icons {
      text-align: center;
      padding-bottom: 5px;
}
.social-icons a {
      color: white;
      font-size: 20px;
      border: 1px solid white;
      border-radius: 50%;
      text-align: center;
      padding: 6px;
      width: 44px;
      height: 44px;
      display: inline-block;
      margin: 2px 10px;
      transition: all 0.4s linear;
}
.social-icons a:hover{
      border: 1px solid #8bc9e6;
      color: #de880a;
      background: white;
      transition: all 0.4s linear;
}

@media(min-width:768px) and (max-width:1200px){
      .time-table, .add-location, .add-phone, .add-email{
            font-size: 20px!important;
            color: #de880a!important;
      }
}

@media(max-width:767.98px){
      .add-location, .time-table{
            padding: 20px 0 45px 50px!important;
            color: #de880a!important;
      }
      .add-email, .add-phone {
            padding: 15px 0 25px 50px!important;
      }
}